[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.22.4"
scikit-learn = "==1.1.1"
matplotlib = "==3.5.2"
pandas = "==1.4.2"
xlrd = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.9"
